<div class="row" ng-controller="monitorCtrl">
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Sensors" ba-panel-class="with-scroll tree-panel">
      <div class="row">
        <div class="col-sm-4">
          <div class="control-side text-center">
            <div>
              <button class="btn btn-primary" ng-click="addNewNode()">Add</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="collapse()">Collapse All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="expand()">Expand All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="select_node:selectNode;ready:readyCB"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Data" ba-panel-class="with-scroll tree-panel">
      <div include-with-scope="app/pages/components/tree/widget/hoverRows.html"></div>
    </div>
  </div>
</div>
</div>
