<!-- todo: remove whole block -->
<div ba-panel>
  <section id="cd-timeline" class="cd-container cssanimations" ng-controller="TimelineCtrl">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning"></div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>Report Jan 14</h5>

        <p>Minor oil component detected, level normal, need to addressed</p>
        <span class="cd-date">Jan 14</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"></div>
      </div>

      <div class="cd-timeline-content danger">
        <h5>Notification Jan 18</h5>

        <p>
          Notification sent out.
        </p>
        <span class="cd-date">Jan 18</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg primary"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Report Feb 18</h5>

        <p>Oil spill issue resolved.</p>
        <span class="cd-date">Feb 18</span>
      </div>
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning"></div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>Report Feb 20</h5>

        <p>All level normal</p>
        <span class="cd-date">Feb 20</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg danger"></div>
      </div>

      <div class="cd-timeline-content danger">
        <h5>Report Feb 21</h5>

        <p> All level normal</p>
        <span class="cd-date">Feb 21</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg primary"></div>
      </div>

      <div class="cd-timeline-content primary">
        <h5>Notification Feb 23</h5>

        <p>Metal component detected, need investigation</p>
        <span class="cd-date">Feb 23</span>
      </div>
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <div class="kameleon-icon with-round-bg warning</div>
      </div>

      <div class="cd-timeline-content warning">
        <h5>Report Feb 24</h5>

        <p>All level normal</p>
        <span class="cd-date">Feb 24</span>
      </div>
    </div>
  </section>
</div>